table {
  width: 100%;
  text-align: center;
}

th {
  width: 25%;
  background: #007bff;
  color: #ffffff;
  padding: 10px;
  border: 1px #000000 solid;
  border-radius: 5px;
}
.add{
  display: flex;
  width:100%;
  
}
.add0{
  width: 25%;
  padding: 10px;
  border: 1px #000000 solid;
  border-radius: 5px;
}

td {
  width: 25%;
  padding: 10px;
  border: 1px #000000 solid;
  border-radius: 5px;
}
.butt{
  width: 10%;
  padding: 10px;
  border: 1px #000000 solid;
  border-radius: 5px;
  background-color: rgb(7, 187, 31);
  font-size: 1.5em;
  cursor: pointer;

}